.input {
    padding: 13px 16px;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid var(--basic-borders, #CFCFCF);
    background: var(--white, #FFF);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}
.label {
    font-weight: 600;
    font-size: 18px;
    color: #344054;
    display: block;
    text-transform: capitalize;
  }
  .error {
    color: #F00;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    position: absolute;
  }